* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    }
body, form {
    background-color: #393d46;
    color: white;
    font-family: 'Playfair Display', serif;
    margin: 0px;
}
button, select {
    color: white;
}
section {
    padding: 30px;
    border: 0;
}
h1{
    padding: 10px;
    font-size: 48px;
}
h3 {
    padding-bottom: 10px;
    font-size: 30px;
    font-style: bold;
}
h4 {
    font-size: 20px;
    padding: 10px;
}
a {
    color: white;
}
a.internal {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
a:visited, a:hover {
    color: #faf3dd;
}
ul {
    padding: 10px;
    margin-left: 20px;
}
li {
    padding: 10px;
}
form {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
textarea, input[type=text]{
    width: 100%;
    color: black;
    background-color: white;
    resize: none;
    height: 40px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
textarea {
    height: 200px;
}
input[type=submit]{
    background-color: white;
    padding: 10px;
    cursor: pointer;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    flex: row;
    justify-content: flex-end;
    align-items: baseline;
}
.courses {
    padding: 0;
}
#comments {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}
#nav_bar {
    top: 0;
    background-color: #5e6472;
    padding-bottom: 0;
}
#title {
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
}
#header, #footer {
    height: 220px;
}
#header {
    background-color: #5e6472;
}
#footer{
    height: 150px;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
#resume {
    height: 600px;
}
#greeting-container {
  margin-top: 20px;
}
